# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Environments
venv/
env/
ENV/
.env

# Database & Runtime Data
datalens.db
uploads/*
!uploads/.gitkeep
generated_reports/*
!generated_reports/.gitkeep

# IDE configs
.vscode/
.idea/
*.swp
